<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/mobilehealth">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value = "d1d3d3195f"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name = "mappingResources">
			<list>
				<value>com/model/Info.hbm.xml</value>
				<value>com/model/Temprc.hbm.xml</value>
				<value>com/model/Record.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
    	class="org.springframework.orm.hibernate3.HibernateTransactionManager">    
  			<property name="sessionFactory">    
  			<ref local="sessionFactory" />    
 			</property>  
 	</bean> 
 	<bean id="InfoDAO" class="com.model.InfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TemprcDAO" class="com.model.TemprcDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RecordDAO" class="com.model.RecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	</beans>